* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

/*  this is for px
    .div1 p {
    color: red;
    font-size: 32px;
    background-color: yellow;
    width: 200px;
    height: 200px;
} */

/* this is for %
.red {
    background-color: red;
    width: 400px;
    height: 800px;
}

.blue {
    background-color: blue;
    width: 50%;
    height: 100%;
} */


/* this is for em
    1em = base value (16px) * number (1) = 16px 
    2em = base value (16px) * number (2) = 32px
    2em = base value (20px) * number (2) = 40px
*/
/* .div1 {
    font-size: 20px;
}

.div1 p {
    font-size: 2em;
}

.div2 p {
    font-size: 2em;
} */

   /* this is for rem 
.div1 {
    font-size: 100px;
}

.div1 p {
    font-size: 2rem;
}

.div2 p {
    font-size: 2rem;
} */

/* this is for vh & vw*/

/* .red {
    background-color: red;
    width: 100vw;
    height: 100vh;
}

.green {
    background-color: green;
    width: 50vw;
    height: 50vh;
} */

/* this is for calc() function */
/* .h-1 {
    font-size: 50px;
}

.h-2 {
    font-size: calc(1rem + 40px);
} */